@import url('http://fonts.googleapis.com/earlyaccess/droidarabickufi.css');

body,.form-title{
  font-family: 'Droid Arabic Kufi', sans-serif !important;
}
.read {
	background: #eee !important;
}
.unread{
	
	background: #fff !important;
}
